[Unit]
Description=Proshop scanner every 15 minutes

[Timer]
OnBootSec=9min
OnUnitActiveSec=15min
OnUnitInactiveSec=15min
RandomizedDelaySec=90
AccuracySec=30s

[Install]
WantedBy=timers.target
