[Unit]
Description=Proshop proxy scan every 15 minutes (B)

[Timer]
OnBootSec=12min
OnUnitActiveSec=15min
OnUnitInactiveSec=15min
RandomizedDelaySec=90
AccuracySec=30s

[Install]
WantedBy=timers.target
